@import "../node_modules/picnic/picnic.min.css";
@font-face {
	font-family: SignPainter;
	src: url(SignPainter.ttf);
}
@font-face {
	font-family: Ugo;
	src: url(UGO-COLOR.ttf);
}
body {
	#title-div {
		width: 100%;
		height: 6vmax;
		position: static;
		text-align: center;
		background-size: cover;
		background: url(../pics/banner.jpg);
		#title {
			color: white;
			text-shadow: -2px 0 PaleVioletRed , 0 2px PaleVioletRed , 2px 0 PaleVioletRed , 0 -2px PaleVioletRed;
			font-family: SignPainter;
			font-size: 10vmin;
		}
	}
	nav {
		box-shadow: none;
		position: sticky;
		z-index: 100;
		height: 13.1vmin;
		background-position-y:-6vmax !important;
		background: url(../pics/banner.jpg);
		
		label {
			position: static;
			padding-top: 2%;
			text-align: center;
			width: 100%;
			margin: 0 auto;
			float: none;
		}
		.menu {
			height: 5em;
			padding-top: 1%;
			width: 100%;
			text-align: center;
			margin: 0 auto;
			div {
				width: 25%;
				margin: 0 auto;
			}
			.button {
				color: white;
				text-shadow: -2px 0 PaleVioletRed , 0 2px PaleVioletRed , 2px 0 PaleVioletRed , 0 -2px PaleVioletRed;
				padding: 0;
				margin: 0;
				font-size: 5.8vmin;
				font-family: SignPainter;
			}
		}
	}
	#main-body {
		width: 90%;
		position: static;
		margin: 0 auto;
		.add-button-container {
			text-align: center;
	    	display: block;
	   		margin: 0 auto;
	   		.success {
	   			background-color: #008080;
	   		}
	   		.addstick {
	   			width: 80%;
	   			font-family: Ugo;
	   			font-size: 3vmin;
	   		}
		}
		.flex {
			margin: 0;
			padding: 0;
			.lipbox {
				padding: 0;
				width: 7em;	
				&:hover {
					box-shadow: none;
				}
				.lipstick-box {
					text-align: center;
					.description {
						width: 60%;
						margin: 0 auto;
						span {
							font-family: Helvetica;
							color: black;
							font-size: 11px;
							text-align: center;
						}
					}
				}
				img {

				}
			}
		}
		h3 {
			font-size: 2em;
			font-family: SignPainter;
		}
	}
	.modal {
		input[type=checkbox] {
			opacity: 1;
		}
		article {
			width: 20em;
			label {
				padding: 0;
				input {
					width: 100%;
				}
			}
		}

	}

}
.upload {
}
.modal-search {
	article {
		width: 90%;
		height: 70%;
	}
}